@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.container{
    margin: 0 auto;
    width: 1440px;
}

.nav{
    background-color: #FFFFFF;
    color: #1C1C1C;
    padding: 20px 30px;
}

.nav-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.nav-list{
    display: flex;
    gap: 42px;
}

.nav-list_item a{
    font-size: 14px;
    font-weight: 400;
    color: #1C1C1C;
}

.login-btn{
    margin-right: 38px;
    font-size: 14px;
    font-weight: 400;
    background: #6F2CFF;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 11px 34px 15px 34px;
}

.login-login{
    font-size: 14px;
    font-weight: 400;
    color: #1C1C1C;
}

.header{ 
    background-image: url(../img/Rectangle.svg);
    min-height: 695px;
    padding: 194px 115px;

}

.header-text{
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 19px;
}

.header-title{
    font-size: 54px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 37px;
}

.header-title span{
    font-size: 54px;
    font-weight: 700;
    color: #6F2DFF;
}

.header-description{
    width: 438px;
    height: 120px;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    line-height: 30px;
}

.header-input{
        width: 269px;
        height: 45px;
        background: #FFFFFF;
        border: 1px solid #6F2CFF;
        border-radius: 27.5px 0px 0px 27.5px;
        
}

.header-btn{
    background: #6F2CFF;
    border-radius: 0px 27.5px 27.5px 0px;
    color: #FFFFFF;
    padding: 13px 45px;
    position: relative;
    left: -3.6px;
}

input::placeholder{
    font-size: 15px;
    font-weight: 400;
    padding: 13px 127px 11px 26px;
}

.section1-title{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #1C1C1C;
    margin-top: 35px;
}

.brands{
    display: flex;
    gap: 59px;
    justify-content: center;
    margin-top: 29px;
}

.section1-text{
    font-weight: 700;
    margin-top: 26px;
    margin-left: 635px;
    color: #1C1C1C;
    border-bottom:2px solid #6F2CFF;
    width: 162px;
}

.block1{
    display: flex;
    width: 1380px;
    height: 660px;
    margin-top: 100px;
    background-color: #FFFFFF;
}

.section2-title{
    font-size: 40px;
    font-weight: 700px;
    margin-left: 70px;
}

.left-btn{
    margin: 58px 70px;
}

.left-btn_btn{
    font-size: 15px;
    font-weight: 400;
    background: #6F2CFF;
    color: #FFFFFF;
    border-radius: 30px;
    padding: 11px 45px 15px 45px;
    /* margin: 58px 22px 56px 70px; */
}

.left-btn_text{
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 7px;
    border-bottom:2px solid #6F2CFF;
    color: #000000;
    margin-left: 22px;
}

.left{
    width: 690px;
    padding: 177px 0 0 70px;
}
.left-text{
    font-weight: 400;
    font-size: 15px;
    margin-left: 70px;
    line-height: 30px;
}

.left-text1{
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline;
    margin-left: 70px;
    color: #000000;
}

.t1{
    height: 220px;
    width: 310px;
    vertical-align: top;
    padding: 8px 0 0 16px;
    border-left: 1px solid #E0E0E0;
}

.table-numb{
    font-weight: 700;
    font-size: 40px;
}

.table-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.section3-title{
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 94px;
}

.section3-text{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    margin-top: 22px;
}

.section3-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.section3-cards_item{
    margin: 0 auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section3-cards_title{
    margin-top: 46px;
    font-size: 19px;
    font-weight: 700;
}

.section3-cards_desc{
    margin-top: 16px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.section4-block{
    height: 1064px;
    margin-top: 91px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
}

.section4-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 94px;
}

.section4-text{
    font-size: 15px;
    font-weight: 400;
    margin-top: 28px;
}

.section4-img{
    margin-top: 90px;
}

.buttons{
    margin-top: 76px;
}

.section4-btn{
    background: #6F2CFF;
    border-radius: 30px;
    padding: 11px 45px;
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    margin-right: 22px;
}

.section4-btn2{
    background: #FFFFFF;
    box-shadow: 0px 0px 0px #6F2CFF;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    color: #6F2CFF;
    padding: 11px 45px;
}

.section5-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 94px;
    text-align: center;
}

.section5-cards{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 200px;
}

.section5-cards_item{
    margin: 0 auto; 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section5-cards_title{
    margin-top: 14px;
    font-size: 19px;
    font-weight: 700;
}

.section5-cards_desc{
    margin-top: 11px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.section6-block{
    height: 751px;
    margin-top: 220px;
    background-color: #F5F5F5;
}

.section6-title{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding-top: 88px;
}

.section6-arrow{
    /* margin-left: 0; */
}

.section6-cards{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.section6-cards_item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF;
    margin-bottom: 105px;
}

.section6-cards_logo{
    margin-top: 25px;
}

.section6-cards_text{
    margin: 25px 0 60px 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    color: #6F2CFF;
}

.section7{

}

.section7-title{
    font-size: 40px;
    font-weight: 700;
    margin-top: 94px;
    text-align: center;
}

.section7-text{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: 12px;
}

.section7-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 65px 245px;
}

.section7-cards-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 460px;
    background: #17002E;
    border-radius: 8px 10px 10px 8px;
    padding: 30px;
}

.section7-cards-item_title{
    display: flex;
    align-items: center;
}

.section7-cards-item_title1{
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    margin-left: 24px;
}

.section7-cards-item_text{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 22px;
}

.section7-cards-item_text1{
    font-size: 15px;
    font-weight: 400;
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 9.25px;
}

.section8-block{
    display: flex;
    background-color: #F5F5F5;
}

.section8-left{
    padding: 169px 0 0 110px;
}

.section8-title{
    font-size: 40px;
    font-weight: 700;
    color: #17002E;
    margin-bottom: 47px;
}

.section8-text{
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.section8-btn{
    margin-top: 74px;
    font-size: 14px;
    font-weight: 700;
    color: #FFFFFF;
    padding: 11px 34px;
    background: #6F2CFF;
    border-radius: 30px;
}

.section8-right{
    margin: 40px 90px;
}

.section9-wrapper{
    min-height: 329px;
    background-image: url(../img/section9/Rectangle\ \(7\).png);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section9-title{
    font-size: 40px;
    font-weight: 700;
    /* text-align: center; */
    padding-top: 93px;
    color: #FFFFFF;
}

.section9-reg{
    margin-top: 39px;
}

.section9-input{
    width: 269px;
    height: 45px;
    background: #FFFFFF;
    border-radius: 27.5px 0px 0px 27.5px;
    
}

.section9-btn{
    background: #6F2CFF;
    border-radius: 0px 27.5px 27.5px 0px;
    color: #FFFFFF;
    padding: 13px 45px;
    position: relative;
    left: -3.6px;
}

.section10-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section10-text{
    font-weight: 400;
}

.socials{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 45px;
}

.footer-wrapper{
    min-height: 547px;
    background-color: #20003C;
}

.footer-cards{
    display: flex;
    justify-content: space-between;
    padding: 57px 158px;
}

.footer-cards_item1{
    display: flex;
}

.footer-cards_item2{
    padding: 50px;
}

.footer-cards-title{
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.footer-cards-text{
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    padding-top: 11px;
}

#footer-cards-text{
    font-weight: 400;
    color: #FFFFFF;
    padding-bottom: 30px;
}

.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo_text{
    font-size: 13px;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 24px;
}

.footer-img{
    padding: 0 0 82px 110px;
}

@media(max-width:620px){

    /* Nav */
    .logo{
    font-size: 45px;
    }

    .nav-list_item a{
    font-size: 24px; 
    }

    .login-btn{
        font-size: 24px;
    }

    .login-login{
        font-size: 24px;
    }

    /* Header */
    .header{
        min-height: unset;
    }
    
}